{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/contact-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          <h3>Hello there,</h3> and welcome to my little corner of the internet! I'm a budding full-stack developer on an exciting journey of crafting digital experiences that are both functional and delightful. With a mere 3-4 months of experience in this dynamic realm, I've already found my passion for bringing ideas to life through code.
          My fascination with the world of coding ignited just a few months back, driven by an insatiable curiosity and an eagerness to learn. I've dived headfirst into mastering both front-end and back-end development, relishing the challenges and celebrating every "Eureka!" moment along the way.
        </p>
        <p>
          <h3>On GitHub,</h3> you'll find me under the alias "the-bipu", where I'm actively learning and contributing to open-source projects. Collaborating with fellow developers and learning from their expertise has been an invaluable part of my journey.
          Beyond the confines of the digital realm, I'm an enthusiast for all things tech and love keeping up with the latest advancements. When I'm not coding, you might spot me experimenting with new languages, enjoying the outdoors, or simply lost in a good book.
        </p>
        <p>
          <h3>Join me</h3> as I continue to explore the limitless possibilities of coding. Whether you're a fellow developer, a curious mind, or just someone who stumbled upon my virtual space, I'm thrilled to have you here.
          Feel free to reach out through my GitHub profile, "the-bipu", and let's embark on this exciting coding adventure together!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
